<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.seam.mapper.UsersMapper">
    <resultMap id="Users" type="com.example.seam.pojo.Users">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="avatar" jdbcType="INTEGER" property="avatar"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="idcard" jdbcType="VARCHAR" property="idcard"/>
    </resultMap>
    <!--
    根据用户id进行查询用户信息，如果id为空，则查询全部
    -->
    <select id="get_users" resultMap="Users">
        select *
        from users
        <where>
            <if test="id!=null">id = #{id}</if>
        </where>
    </select>
    <!--
    插入数据
    -->
    <insert id="set_users" parameterType="com.example.seam.pojo.Users">
        insert into users
        values (#{id}, #{avatar}, #{name}, #{sex}, #{phone}, #{address}, #{idcard})
    </insert>
    <!--
    根据id修改用户信息
    avatar、name、sex、phone、address、idcard
    -->
    <update id="modify_avatar" parameterType="com.example.seam.pojo.Users">
        update users
        set avatar=#{avatar}
        where id = #{id}
    </update>
    <update id="modify_name" parameterType="com.example.seam.pojo.Users">
        update users
        set name=#{name}
        where id = #{id}
    </update>
    <update id="modify_sex" parameterType="com.example.seam.pojo.Users">
        update users
        set sex=#{sex}
        where id = #{id}
    </update>
    <update id="modify_phone" parameterType="com.example.seam.pojo.Users">
        update users
        set phone=#{phone}
        where id = #{id}
    </update>
    <update id="modify_address" parameterType="com.example.seam.pojo.Users">
        update users
        set address=#{address}
        where id = #{id}
    </update>
    <update id="modify_idcard" parameterType="com.example.seam.pojo.Users">
        update users
        set idcard=#{idcard}
        where id = #{id}
    </update>
    <!--
    删除用户信息
    -->
    <delete id="deleteUserInfo" parameterType="com.example.seam.pojo.Users">
        delete
        from users
        where id = #{id}
    </delete>
</mapper>
